%h2 Products
%br/

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th{:scope => "col"}
      %th{:scope => "col"} Name
      %th{:scope => "col"} Price
      %th{:scope => "col"} Weight
      %th{:scope => "col"} Action

  %tbody
    - @products.each do |product|
      :ruby
        img_src = image_url(product)
      %tr
        %td
          %img.rounded.img-fluid{:alt => "Default", :height => "256", :width => "189", :src => img_src}
        %td= link_to product.title, product_path(product.attributes["id"])
        %td= product.variants[0].price
        %td= product.variants[0].weight
        %td= link_to "Edit", edit_product_path(product.attributes["id"])
