%h2 Products
%br/

%table.table.table-striped
  %thead.thead-dark
    %tr
      %th{:scope => "col"} Name
      %th{:scope => "col"} Description
      %th{:scope => "col"} Price
      %th{:scope => "col"} Action

  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.title, product_path(product.attributes["id"])
        %td= raw(product.body_html)
        %td= product.variants[0].price
        %td= link_to "Edit", edit_product_path(product.attributes["id"])
